examples/*/cpp/build/
examples/*/cpp/CMakeCache.txt
examples/*/cpp/CMakeFiles/
examples/*/cpp/cmake_install.cmake
examples/*/cpp/*.o
examples/*/rust_hicc/target/
examples/*/rust_hicc/Cargo.lock
examples/*/ast/*.i
examples/*/ast/ast.json
examples/*/ast/user-ast.json
target/
build-cmake/
cmake.log
_ast.err
