cmake_minimum_required(VERSION 3.16)
project(hicc_usage___NAME__ CXX)

set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_POSITION_INDEPENDENT_CODE ON)

file(GLOB __NAME___SOURCES CONFIGURE_DEPENDS "src/*.cpp")
add_library(__NAME__ STATIC ${__NAME___SOURCES})
target_include_directories(__NAME__ PUBLIC include)

enable_testing()
add_executable(test___NAME__ test/main.cpp)
target_link_libraries(test___NAME__ PRIVATE __NAME__)
add_test(NAME __NAME___test COMMAND test___NAME__)
